<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Control </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img
    src="https://scontent-gru1-2.xx.fbcdn.net/v/t1.6435-9/67868264_2354701231285368_747856748009750528_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=84a396&_nc_eui2=AeGEUolDC5vRWMnbCZXDW1r3I5E6cC4HCm0jkTpwLgcKbUOTJph3v3gZlhe_TS6XP-mcsU2cICVJhpK1E7dX3Zj6&_nc_ohc=8WJcrm_KH8wAX_aBHX4&_nc_oc=AQk0tztbabSKcRPqycZ3k0Tvw5S85Jo7LXeRc6yP6wBHhMHXQOzUNuMxMOzoAQHLeps&_nc_ht=scontent-gru1-2.xx&oh=cba1941f8ad69ebfe47420ce5c0d2faa&oe=61708C71"
    alt=""
  />

  <h1>Alef Cardoso Soares</h1>
  <p>Aluno Unimetrocamp</p>
  <a href="mailto:alefcard.soares@gmail.com">alefcard.soares@gmail.com</a>
</ion-content>
